<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Image Board</title>
        <link rel="stylesheet" href="styles.css" />
        <script
            defer
            src="./js/app.js"
            type="module"
            crossorigin="use-credentials"
        ></script>
       <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
       <style>@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');</style>
    </head>
    <body>
        <div id="main">
            <div class="upload">
                <h2>Uploading Files to Server</h2>
                <!-- we will handle the upload manually in vueJS in the handleSubmit function -->
                <form v-on:submit="handleSubmit">
                    <div>
                        <span>Title: </span><input type="text" name="filename" v-model="filename">
                        <span>Description: </span><input type="text" name="description" v-model="description">
                        <span>User name: </span><input type="text" name="username" v-model="username">
                    </div>
                    <div>
                        <span>File: </span><input class="btn" type="file" name="file" accept="image/*" v-on:change="handleFileChange">
                    </div>
                    <button class="btn">Upload</button>
                </form>
            </div>
            <div class="gallery">
                <!-- v-bind is used for attributes like class, src, href, alt -->
                <h1 v-bind:class="headingClass">{{ heading }}</h1>

                 <ul v-if="images.length > 0">
                     <li v-for="img in images">
                        <img v-bind:src="img.url" v-bind:alt="img.title" v-bind:id="img.id" @click="handleClickImage">
                        <br>
                        <p>{{img.title}}</p>
                     </li>
                </ul>
            </div>
            <one-image 
            v-if="showModal"
            v-bind:id="imageId" 
            @closed="handleCloseImage"
            ></one-image>
        </div>
    </body>
</html>
